*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Playlist-Script";
    src: url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot");
    src: url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist-Script")format("svg");
}

@font-face {
    font-family: "Conduit ITC W05 Bold";
    src: url("https://db.onlinewebfonts.com/t/098bf308392312710511d7cf99726764.eot");
    src: url("https://db.onlinewebfonts.com/t/098bf308392312710511d7cf99726764.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/098bf308392312710511d7cf99726764.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/098bf308392312710511d7cf99726764.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/098bf308392312710511d7cf99726764.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/098bf308392312710511d7cf99726764.svg#Conduit ITC W05 Bold")format("svg");
}

.body{
    background:linear-gradient(#81b622,#ebfbcb) ;
    height: 1000000px;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ebfbcb;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu-left{
    display: flex;
    justify-content: space-between;
    width: 23%;
}

.menu-left img{
    width: 200px;
    height: 60px;
}


.menu-left a{
    all: unset;
    font-size:24px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Playlist-Script';
}

.menu-left a:hover{
    cursor: pointer;
    opacity: 0.6;
}


.menu-middle{
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.menu-right{
    margin-right: 20px;
    font-size: 24px;
    width: 4%;
    display: flex;
}

.menu-right a{
    all: unset;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Playlist-Script';
    line-height: 100px;
    padding-bottom: 15px;
}

.menu-right a:hover{
    cursor: pointer;
    opacity: 0.6;
}

.intro{
    background-repeat: no-repeat;
    background-size: cover;
    background:linear-gradient(#81b622,#ebfbcb) ;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}

.intro-text{
    padding-top: 200px;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Playlist-Script';
}
